.not-a-menber {
  color: white;
  margin-bottom: 50%;
  border-color: darkgray;
  background-color: darkgray;
  text-align: center;
  width: 120px;
  border: solid 1px;
  border-radius: 5px;
  margin-top: 50%;
  font-weight: 600;
}

.yes-menber {
  background-color: darkcyan;
  border-color: darkcyan;
}

.join-mission {
  color: black;
  width: 120px;
  background-color: white;
  margin-bottom: 42.5%;
  border-color: black;
  height: 45px;
  margin-top: 42.5%;
  border: 1px solid #4caf50;
  border-radius: 5px;
}

.leave-mission {
  color: red;
  border-color: red;
}